 
  /*Styling for the FOOTER*/
  .footer {
    border-radius: 50px 50px 0px 0px;
    margin-top: auto;
    display: flex;
    align-items: center;
    height: 53px;
    width: 100%;
    background-color: rgb(2, 124, 133);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: center;
  }
  



/*Styling for the NAVIGATION bar*/
.navbar {
    margin-top: 0px;
    padding: 5px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 83px;
    width: 100%;
    background-color: lightgray;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
 
  .centered-text2 {
    text-align: center;
    display: block;
    margin: 0 auto;
  }
  
  .centered-text2 span {
    font-weight: bold;
  }
  
  .navItem2 {
    display: flex;
    align-items: center;
  }
  
  
  .navItem2 a {
    text-decoration: none;
    color: white;
    width: 100%;
    text-align: center;
    font-family: Arial, sans-serif;
    pointer-events: none;
  }
  
  .navList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    font-family: Arial, sans-serif;
  }
  
  .navItem {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Added margin */
  }
  
  
  .navItem a {
    text-decoration: none;
    color: rgb(80, 80, 80);
    width: 100%;
    text-align: center;
    margin-left: 39px;
    font-family: Arial, sans-serif;
  }
  
  .centered-text {
    margin-right: 100px;
    
  }
  
  .navItem .fa-icon {
    margin-left: 5px!important;
  }
  
  .navItem img {
    display: block; /* Make the image a block element */
    margin: 0 auto; /* Center the image horizontally */
  }
  
  .navItem a:not(:first-child) {
    margin-left: 20px; /* Move the rest of the links to the right */
  }
  
  
  
  /* This Media part is for DESKTOP*/
  
  @media only screen and (min-width: 425px) {
  
   
    .mobile{
      display:none;
    }
  }
  
  
  @media only screen and (min-width: 768px) {
    
    .mobile{
      display:none;
    }
  }
  
  
  @media only screen and (min-width: 1440px) {
    
    .mobile{
      display:none;
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  /* Mobile view point*/
  @media only screen and (max-width: 375px){
  
    .container {
      display: grid;
      place-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
    }
  
    .form {
      position: relative;
        border: 2px solid #ddd;
        border-radius: 15px;
        width: 100%; /* Set width based on viewport width */
        box-sizing: border-box; /* Include padding and border in the width calculation */
        background-color: rgba(44, 44, 44, 0.781);
        display: grid;
        height: 700px;
      place-content: center;
      }
    
    .title {
      font-size: 30px;
      margin-bottom: 30px;
      font-family: Arial, sans-serif;
    }
    
    .logo {
        margin-bottom: 30px;
        margin-top: 1%;
        display: flex; /* Use flexbox for centering */
        justify-content: center; /* Center content horizontally */
      }
    
    .logo-image {
      width: 200px;
      height: 200px;
      align-items: center;
    }
    
      .title {
        font-size: 30px;
        margin-bottom: 30px;
      }
    
      .button-menu {
        width: 300px;
        height: 50px;
        padding: 10px;
        margin-bottom: 13px;
        display: flex;
        align-items: center;
        margin-right: 10px; /* Center text horizontally */
        margin-left: 10px;
        background-color: rgb(2, 124, 133);
        color: #fffefe;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-family: Arial, sans-serif;
        font-weight: bold;
        position: relative;
        overflow: hidden;
      }
  
      .button-text {
        
        font-size: 20px;
        text-align: center;
        margin-left: 15px;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
  
      .footer {
        display:none;
      }
    
  
      .desktop{
       display:none;
      }
  
  }
  
  
  
  
  
  
  
  
  
  
  