
@media only screen and (min-width: 150px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(36, 35, 35, 0.781);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    overflow: auto;
  }

  .form {
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(36, 35, 35, 0.781);
    width: 75%;
    height: 70%;
  }

  .title {
    width: 100%;
    font-weight: bold;
    margin-bottom: 2rem;
    font-family: Arial, sans-serif;
    color: rgb(185, 185, 185);
    text-align: center;
    margin-right: 53rem;
    font-size: 1.6rem;
  }

  .billingInfo {
    margin-top: 20px;
    font-family: Arial, sans-serif;
    color: rgb(185, 185, 185);
  }

  .infoGroup {
    display: flex;
    font-size: 1rem;
    align-items: center;
    margin-left: 15px;
    font-family: Arial, sans-serif;
    color: rgb(185, 185, 185);
  }

  .label {
    margin-left: 10px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: rgb(185, 185, 185);
  }

  .icon {
    width: 34px;
    height: 34px;
    color: #3498db;
  }
}


 



@media only screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(36, 35, 35, 0.781);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    overflow: auto;
  }

  .form {
    background-color: rgba(36, 35, 35, 0.781);
    padding: 60px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 75%;
    max-width: 400px;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
  }

  .billing-info {
    margin-top: 20px;
    font-family: Arial, sans-serif;
    color: rgb(185, 185, 185);
  }

  .info-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
    color: rgb(185, 185, 185);
  }

  .label {
    margin-left: 10px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: rgb(185, 185, 185);
  }

  .icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    color: #3498db;
  }


  
}





@media only screen and (min-width: 1440px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(36, 35, 35, 0.781);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    overflow: auto;
  }

  .form {
    background-color: rgba(36, 35, 35, 0.781);
    padding: 60px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 75%;
    max-width: 400px;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
  }

  .billing-info {
    margin-top: 20px;
    font-family: Arial, sans-serif;
    color: rgb(185, 185, 185);
  }

  .info-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
    color: rgb(185, 185, 185);
  }

  .label {
    margin-left: 10px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: rgb(185, 185, 185);
  }

  .icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    color: #3498db;
  }

  
}





  

