/* consultation.module.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .lawyerSelection {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .dropdownContainer {
    width: 200px;
  }
  
  .dropdown {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #3498db;
    border-radius: 5px;
    outline: none;
  }
  
  .dropdown:hover {
    border-color: #3498db;
  }
  
  .chatroom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .chatTitle {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
 
  