/* Common styles for both desktop and mobile */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(36, 35, 35, 0.781);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  overflow: auto;
}

#case-files {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.caseTitle {
  text-align: center;
  font-family: Arial, sans-serif;
  color: rgb(185, 185, 185);
}

.caseTitle h2 {
  margin-bottom: 1.7em;
  margin-right: 53rem; /* Desktop margin */
  font-weight: bold;
}

.caseTable {
  width: 89%; /* Adjust width to 89% */
  max-width: 60rem; /* Set maximum width */
  margin: 0 auto; /* Center the table */
  background-color: rgba(44, 44, 44, 0.781);
  padding: 20px;
  border-radius: 10px;
  height: 180px;
  text-align: center;
  font-family: Arial, sans-serif;
  color: rgb(185, 185, 185);
  table-layout: fixed;
}

.caseTable th,
.caseTable td {
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 30px; /* Limiting height for each row */
  white-space: nowrap;
}

.caseTable th {
  background-color: #ccc;
  padding: 20px;
  color: rgba(44, 44, 44, 0.781);
}

.caseTable tr {
  border-radius: 10px 10px 0 0;
  background: none;
}

.caseTable a {
  text-decoration: none;
  font-family: Arial, sans-serif;
  color: rgb(185, 185, 185);
}

.caseTable a:hover {
  color: #007bff;
  text-decoration: underline;
}

.deleteButton {
  font-family: Arial, sans-serif;
  color: rgb(185, 185, 185);
  background: none;
  font-size: 15px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.deleteButton:hover {
  text-decoration: underline;
}

/* Media query for smaller screens (mobile view) */
@media screen and (max-width: 724px) {
  .caseTitle h2 {
    margin-right: 0; /* Mobile margin */
  }

  .container {
    padding: 0 10px; /* Adjust padding for smaller screens */
  }

  .caseTable {
    width: 100%; /* Adjust table width for smaller screens */
    max-width: 100%; /* Limit maximum width for responsiveness */
    height: auto; /* Adjust height to fit content */
    font-size: 12px; /* Reduce font size for better mobile display */
  }

  .caseTable th,
  .caseTable td {
    max-height: none; /* Remove maximum height for better mobile display */
  }
}

@media screen and (min-width: 725px) {
  .caseTitle h2 {
    margin-right: 0; /* Mobile margin */
  }

  .container {
    padding: 0 10px; /* Adjust padding for smaller screens */
  }

  .caseTable {
    width: 100%; /* Adjust table width for smaller screens */
    max-width: 100%; /* Limit maximum width for responsiveness */
    height: auto; /* Adjust height to fit content */
    font-size: 12px; /* Reduce font size for better mobile display */
  }

  .caseTable th,
  .caseTable td {
    max-height: none; /* Remove maximum height for better mobile display */
  }
}
