.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px; /* Increased padding for desktop view */
  border: 2px solid #ddd; /* Increased border size for desktop view */
  border-radius: 15px; /* Increased border radius for desktop view */
  width: 400px; /* Adjusted width for desktop view */
  outline: none;
}

.title {
  font-size: 30px; /* Increased font size for desktop view */
  margin-bottom: 30px; /* Increased margin bottom for desktop view */
  font-family: Arial, sans-serif;
  cursor: none;
}

.logo {
  margin-bottom: 30px; /* Increased margin bottom for desktop view */
}

.logo-image {
  width: 150px; /* Increased width for desktop view */
  height: 150px; /* Increased height for desktop view */
}

.input {
  width: 100%;
  padding: 15px; /* Increased padding for desktop view */
  margin-bottom: 10px; /* Increased margin bottom for desktop view */
  border: 2px solid #ddd; /* Increased border size for desktop view */
  border-radius: 8px; /* Increased border radius for desktop view */
  outline: none;
  cursor: text;
}

.input:focus {
  cursor: text;
  outline: none;
}

.loginButton,
.signUpButton,
.button {
  width: 110%;
  padding: 15px; /* Increased padding for desktop view */
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 8px; /* Increased border radius for desktop view */
  cursor: pointer;
  margin-bottom: 10px; /* Increased margin bottom for desktop view */
  outline: none;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.loginButton:hover,
.signUpButton:hover,
.button:hover {
  background-color: #2980b9;
}

.error-message {
  color: red;
  font-family: Arial, sans-serif;
}

.login-link,
.forgotPassword {
  margin-top: 30px; /* Increased margin top for desktop view */
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #2980b9;
  cursor: pointer;
}

.already-account {
  margin-top: 30px; /* Increased margin top for desktop view */
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.button-text {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin-top: 50px;
  margin-left: 0px;
}

.icon {
  margin-left: 0px;
}