/* Common styles for both desktop and mobile */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Adjusted to start from the top */
  background-color: rgba(36, 35, 35, 0.781);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  overflow: auto;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 1px;
  font-family: Arial, sans-serif;
  text-align: center;
  color: rgb(185, 185, 185);
  margin-top: 1rem; /* Adjusted margin-top */
}

/* Desktop styles */
.policyContainer {
  font-family: Arial, sans-serif;
  display: grid;
  gap: 3rem; /* Adjusted gap between cards */
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  grid-template-rows: repeat(2, auto); /* Two rows */
  color: rgb(185, 185, 185);
  margin-top: 4rem;
}

.policyCard {
  border: 1px solid #ccc;
  padding: 8px;
  background-color: rgba(44, 44, 44, 0.781);
  position: relative;
  font-family: Arial, sans-serif;
  align-items: center;
  cursor: pointer;
  width: 100%; /* Adjust width of individual card */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px; /* Rounded corners */
 
}

/* Increase opacity of the policy name when hovering over the card */
.policyCard:hover .policyName {
  opacity: 0.5; /* Adjusted opacity */
}

.cardFooter {
  display: flex;
  text-align: center;
  color: rgb(185, 185, 185);
  flex-direction: column;
  justify-content: flex-end;
  margin-top: auto; /* Pushes footer to the bottom */
}

.downloadButton {
  padding: 10px;
  cursor: pointer;
  background-color: rgb(2, 124, 133);
  color: white;
  border: none;
  border-radius: 7px;
  font-size: 14px;
  transition: background-color 0.3s;
  align-items: center;
  position: relative;
  z-index: 1;
  margin-top: 1px; /* Adjusted margin */
}

.downloadButton:hover {
  background-color: #0056b3;
}



/* Mobile styles */
@media only screen and (max-width: 724px) {

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Adjusted to start from the top */
    background-color: rgba(36, 35, 35, 0.781);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    overflow: auto;
  }
  .title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 1px;
    font-family: Arial, sans-serif;
    text-align: center;
    color: rgb(185, 185, 185);
    margin-top: 4.5rem; /* Adjusted margin-top */
  }

  .policyContainer {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the cards horizontally */
    gap: 1rem; /* Adjusted gap between cards */
    color: rgb(185, 185, 185);
    margin-top: 1rem; /* Adjusted margin-top */
    width: 100%; /* Adjusted width to fit the container */
    padding: 0 1rem; /* Adjusted horizontal padding */
  }
  .policyName {
    width: 100%;
  }

  .policyCard {
    border: 1px solid #ccc;
    padding: 8px;
    background-color: rgba(44, 44, 44, 0.781);
    position: relative;
    font-family: Arial, sans-serif;
    align-items: center;
    cursor: pointer;
    width: 70%; /* Adjusted width of individual card */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px; /* Rounded corners */
    margin-bottom: 4px; /* Adjusted margin */
    height: auto; /* Height as per content */
  }

  .cardFooter {
    display: flex;
    text-align: center;
    color: rgb(185, 185, 185);
    flex-direction: column;
    justify-content: flex-end;
    margin-top: auto; /* Pushes footer to the bottom */
    width: 70%; /* Adjusted width to fit the container */
  }

  .downloadButton {
    padding: 10px;
    cursor: pointer;
    background-color: rgb(2, 124, 133);
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 14px;
    transition: background-color 0.3s;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-top: 1px; /* Adjusted margin */
  }

  .downloadButton:hover {
    background-color: #0056b3;
  }
}



/* Mobile styles */
@media only screen and (min-width: 725px) {

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Adjusted to start from the top */
    background-color: rgba(36, 35, 35, 0.781);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    overflow: auto;
  }
  
  .title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 1px;
    font-family: Arial, sans-serif;
    text-align: center;
    color: rgb(185, 185, 185);
    margin-top: 4.5rem; /* Adjusted margin-top */
  }
  
  /* Desktop styles */
  .policyContainer {
    font-family: Arial, sans-serif;
    display: grid;
    gap: 3rem; /* Adjusted gap between cards */
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-template-rows: repeat(2, auto); /* Two rows */
    color: rgb(185, 185, 185);
    margin-top: 4rem;
    width: 89%;
  }
  
  .policyCard {
    border: 1px solid #ccc;
    padding: 8px;
    background-color: rgba(44, 44, 44, 0.781);
    position: relative;
    font-family: Arial, sans-serif;
    align-items: center;
    cursor: pointer;
    width: 100%; /* Adjust width of individual card */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px; /* Rounded corners */
   
  }
  
  /* Increase opacity of the policy name when hovering over the card */
  .policyCard:hover .policyName {
    opacity: 0.5; /* Adjusted opacity */
  }
  
  .cardFooter {
    display: flex;
    text-align: center;
    color: rgb(185, 185, 185);
    flex-direction: column;
    justify-content: flex-end;
    margin-top: auto; /* Pushes footer to the bottom */
  }
  
  .downloadButton {
    padding: 10px;
    cursor: pointer;
    background-color: rgb(2, 124, 133);
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 14px;
    transition: background-color 0.3s;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-top: 1px; /* Adjusted margin */
  }
  
  .downloadButton:hover {
    background-color: #0056b3;
  }
  
  
}
